.cartas{
    float: left;
    box-shadow: 1px 2px 10px 0 #666;
    margin: 8px 35px 20px 8px;
}
.cartas:hover{
    transform:scale(1.25);
    box-shadow: 1px 2px 10px 0  #771100;
}
.cartas2{
    box-shadow: 1px 2px 10px 0 #666;
    margin: 10px;
}
.cartas2:hover{
    transform:scale(1.25);
    box-shadow: 1px 2px 10px 0  #771100;
}

.videos{
    float: right;
    width:300px ;
}
.videosyoutube{
    width:279px; 
    height:172px; 
    padding-top:10px;
    padding-bottom: 10px;
}
.videosyoutube2{
    width:400px; 
    height:230px; 
    padding: 10px;
}


ul {
    list-style-image: url("../imagenes/cicono.png#")
  }
li{
    padding-bottom: 15px;
}
.iconolibro{
    list-style-image: url("../imagenes/libro.png#")

}

.separador{
    width: 100%;
    text-align: center;
    background: url(../imagenes/Separador1.png) repeat-x center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0 8px;
    margin-bottom: 15px;
    float: left;
}
.separador2{
    width: 100%;
    text-align: center;
    background: url(../imagenes/separado2.png) repeat-x center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0 8px;
    float: left;
}


.centrado{
    text-align: center;
}