body{
    background-color:white;
    font: 12px/16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.contenedor{
    font-size: 12px;
    color: #444;
    color:black;
    width:1000px;
    margin: 0px auto;
} 
.cabecera{
    color:black;
    background-color:white;
}
.menu{
    float: right;
    margin:20px;
    width: 700px;
    height: 144px;
}
.enlaceM{
    text-decoration: none;
    font: bold 14px ProximaNova-Regular;
    text-transform: uppercase;
    color: #333;
    float: left;
    padding: 8px;
}
a:hover{
    text-decoration: none;
    color: #ff9900;
}

.contenido{
    word-spacing: 5px;
    width: 620px;
    text-align: justify;
    margin: 0px auto;
    float: left;
}
.contenidoc{
    word-spacing: 5px;
    width: 1000px;
    text-align: justify;
    margin: 0px auto;
    float: left;
}
.seccion{
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
.seccionCuentos{
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
    overflow: auto;
    height: 800px;
}
.tituloN{
    color: #6699cc;
margin-right: 10px;
margin-left: 10px;
background-color: #FFF;
padding-right: 10px;
padding-left: 10px;
text-transform: uppercase;
font: 20px ProximaNova-Regular;
}
.tituloC{
    font: bold 16px/18px ProximaNova-Regular;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

strong {
    font-weight: bold;
    color: #333;
    font-size: 14px;
}
.glosa{
    font-weight: bold;
    color: #333;
    font-size: 16px;
}
em {
    font-style: italic;
    color: #999;
    font-size: 13px;
    line-height: 18px;
}
p{
    margin-bottom: 20px;
    font-family: FontinSansRgRegular, "Lucida Grande", Lucida, Verdana, sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 22px;
    margin-right: 10px;
    margin-left: 10px;
}

a{
    color: #47c4ec;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.subtitulos{
    font: bold 16px/18px ProximaNova-Regular;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color:#333;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ladoa{
    width: 400px;
  float: left;
  padding-left: 60px;
}
.ladob{
    width: 400px;
  float: right;
}
.resaltado{
    color: #ff9900;
}